h1{
    text-align: center;
    color:rgb(255, 193, 7);
}

body{
    text-align: center;
    background-color: rgb(194, 24, 91);
}
.menu{
    text-align: left;
    font-size: 30px;
}

h2{
    font-size: 40px;
    text-align: center;
}
.desc
{
    font-size: 30px;
}
.communicate,.rate,.delivery
{
    font-size: 20px;
}
