h1{
    text-align: center;
    color:rgb(255, 193, 7);
}

body{
    text-align: center;
    background-color: rgb(194, 24, 91);
}
.menu{
    text-align: left;
}

h2{
    text-size-adjust: 30;
    text-align: center;
}
